/*Exemple de full d'estil, que només té SELECTORS etiqueta*/

/*Sintaxi fulls d'estil:
 * selector{
 * 			regla:valor;
 * 			} */
  
body{
	text-align: center;
	} 
	
/* Estil pel títol h1*/	
h1{
	font-family:'Times New Roman', Times, serif
	font-size: 46px;
	color: rgba(0, 140, 255, 0.822);
	text-shadow: 2px 2px 8px black;
}

/* Estil pel pàrragraf*/
p{
	color:black;  
	text-align: justify;
	}

/* Estil pel títol h2*/
h2{
	 color:beige;  
	 background-color: gray;
	 text-shadow: black -3px -4px 5px;
	}
